export default {
  address: 'YOUR_WALLET_ADDRESS',
  private: 'YOUR_PRIVATE_KEY',
  ETHERSCAN_API_KEY: "YOUR_ETHERSCAN_API_KEY",
  BSCSCAN_API_KEY: "YOUR_BSCSCAN_API_KEY",
  ARBISCAN_API_KEY: "YOUR_ARBISCAN_API_KEY",
  ALCHEMY_MIANNET_API_KEY: "YOUR_ALCHEMY-MIANNET-API-KEY",
  ALCHEMY_TESTNET_API_KEY:"YOUR_ALCHEMY-TESTNET-API-KEY"
};
